html {
    scroll-behavior: smooth;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: "Consolas", "Roboto", "Courier New", "Menlo", "Monaco", "Liberation Mono", monospace;
    font-weight: 700;
    line-height: 1.2;
}
