html {
    scroll-behavior: smooth;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: "Consolas", "Roboto", "Courier New", "Menlo", "Monaco", "Liberation Mono", monospace;
    font-weight: 700;
    line-height: 1.2;
}

html, body {
    background-color: #131313;
    color: #b2b0bf;
}

#app-loading {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #131313;
    z-index: 9999;
}

.loading-spinner {
    width: 60px;
    height: 60px;
    border: 6px solid #292838;
    border-top: 6px solid #ff185d;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

